<div class="container">
    <h2>Obliczenie ilości ciasta</h2>
    <form (ngSubmit)="calculateRecipe()">
        <div class="input-group">
            <label for="shape">Kształt blachy do pieczenia :</label>
            <i class="pi pi-question-circle" pTooltip="Ostateczny kształt Twojego produktu, nawet jeśli nie używasz blachy do pieczenia!" tooltipPosition="top"></i>
            <select id="shape" [(ngModel)]="form.shape" name="shape" required>
                <option value="" disabled selected>Wybierz</option>
                <option value="rectangular">Prostokątny</option>
                <option value="circular">Okrągły</option>
            </select>
        </div>

        <div class="input-group" *ngIf="form.shape === 'rectangular'">
            <label for="length">Długość (cm):</label>
            <input type="number" id="length" [(ngModel)]="form.length" name="length">
            <label for="depth"> Szerokość (cm):</label>
            <input type="number" id="depth" [(ngModel)]="form.depth" name="depth">
        </div>

        <div class="input-group" *ngIf="form.shape === 'circular'">
            <label for="diameter">Średnica (cm):</label>
            <input type="number" id="diameter" [(ngModel)]="form.diameter" name="diameter">
        </div>

        <div class="input-group">
            <label for="product">Co pieczesz dzisiaj?</label>
            <select id="product" [(ngModel)]="form.product" name="product" required>
                <option value="" disabled selected>Wybierz</option>
                <option value="focaccia">Focaccia</option>
                <option value="pizza">Pizza</option>
            </select>
        </div>

        <div class="input-group">
            <label for="quantity">Ile sztuk?</label>
            <input type="number" id="quantity" [(ngModel)]="form.quantity" name="quantity" required>
        </div>

        <div class="input-group">
            <label for="season">Pora roku:</label>
            <i class="pi pi-question-circle" pTooltip="Jeśli temperatura otoczenia jest równa lub wyższa niż 25 stopni, wybierz wiosnę-lato. Inaczej wybierz jesień-zimę." tooltipPosition="top"></i>
            <select id="season" [(ngModel)]="form.season" name="season" required>
                <option value="" disabled selected>Wybierz</option>
                <option value="summer">Wiosna-Lato</option>
                <option value="winter">Jesień-Zima</option>
            </select>
        </div>

        <div class="input-group">
            <label for="hydration">Hydratacja (%):</label>
            <i class="pi pi-question-circle" pTooltip="Hydratacja to procent wody w stosunku do masy mąki i jeśli nie chcesz ryzykować, nie przekraczaj 80% w przypadku pizzy i focacci!" tooltipPosition="top"></i>
            <select id="hydration" [(ngModel)]="form.hydration" name="hydration">
                <option value="70">70</option>
                <option value="75">75</option>
                <option value="80" selected>80</option>
                <option value="85">85</option>
                <option value="90">90</option>
            </select>
        </div>

        <button type="submit" [disabled]="!isFormValid()">Oblicz</button>
        <button type="button" (click)="resetForm()" class="reset-btn">Reset</button>
    </form>
</div>
<div class="recipe" *ngIf="recipe">
    <h2>Szczegóły twojego przepisu</h2>
    <p>
        <span>Przepis:</span> {{ recipe.product }}<br>
        <span>Sztuki:</span> {{ recipe.quantity }}<br>
        <span>Mąka:</span> {{ recipe.flour }} gr<br>
        <span>Woda:</span> {{ recipe.water }} gr<br>
        <span>Sól:</span> {{ recipe.salt }} gr<br>
        <span>Zakwas:</span> {{ recipe.levain }} gr
    </p>
</div>